<h1 class="text-primary text-center"><a href="/">Demo Session</a></h1>

<div class="well">
  <h1 class="text-success"><a href="/session">Welcome to Admin</a></h1>
  <a href="/logout" class="btn btn-block btn-primary">Logout</a>
</div>