<h1 class="text-primary text-center">Demo State Management</h1>
<div class="list-group">
  <a href="/web" class='list-group-item'>Web Storage</a>
  <a href="/cookie" class='list-group-item'>Cookie</a>
  <a href="/session" class='list-group-item'>Session</a>
  <a href="/view" class="list-group-item">View Stored Variables</a>
</div>
