<h1 class="text-primary text-center"><a href="/">Demo Session</a></h1>

{{#if isLogin}}
<a href="/logout" class="btn btn-block btn-primary">Logout</a>
{{else}}
<a href="/login" class="btn btn-block btn-primary">Login</a>
{{/if}}

<a href="/admin" class="btn btn-block btn-info">View Admin</a>
