<div class="card-body p-4 p-sm-5">
    <h1 class="card-title text-center mb-5 fs-5">Register</h1>
    <form action="/register" method="POST">
        <div class="form-floating mb-3">
            {{#if message}} <div class="alert alert-warning">{{{message}}}</div>{{/if}}
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="firstName" id="floatingInputFirstName"
                placeholder="First Name" required autofocus>
            <label for="floatingInputFirstName">First Name</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="lastName" id="floatingInputLastName" placeholder="Last Name"
                required autofocus>
            <label for="floatingInputUsername">Last Name</label>
        </div>

        <div class="form-floating mb-3">
            <input type="email" name="email" class="form-control" id="floatingInputEmail" required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="name@example.com">
            <label for="floatingInputEmail">Email address</label>
        </div>

        <hr>

        <div class="form-floating mb-3">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password"
                required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="Password must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
                onkeyup="checkPasswordConfirm('formRegister')">
            <label for="floatingPassword">Password</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" name="confirmPassword" required class="form-control" id="floatingPasswordConfirm"
                placeholder="Confirm Password" onkeyup="checkPasswordConfirm()">
            <label for="floatingPasswordConfirm">Confirm Password</label>
        </div>

        <div class="d-grid mb-2">
            <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">Register</button>
        </div>

        <a class="d-block text-center mt-2 small" href="/login">Have an account? Sign In</a>

        <hr class="my-4">

        <div class="d-grid mb-2">
            <a href="/auth/google" class="btn btn-lg btn-google btn-login fw-bold text-uppercase" type="submit">
                Sign up with Google
            </a>
        </div>

        <div class="d-grid">
            <a href="/auth/facebook" class="btn btn-lg btn-facebook btn-login fw-bold text-uppercase" type="submit">
                Sign up with Facebook
            </a>
        </div>

    </form>
</div>
<script src="/script.js"></script>